@{
    ViewData["Title"] = "Info - Information";
}
<h3>My contact infomation</h3>





       
            <ul>
                <li>@ViewBag.Contact[0]</li>
                <li>@ViewBag.Contact[1]</li>
                <li>@ViewBag.Contact[2]</li>
                <li>@ViewBag.Contact[3]</li>
                
            </ul>
        
