
@{
    ViewData["Title"] = "Info - Index";
}
<h1>Info</h1>
<nav>
    <ol>
        <li>
            <a asp-action="About">My infomation</a>
        </li>
        <li>
            <a asp-action="Contact">My contact infomation</a>
        </li>
        <li>
            <a asp-action="GitHubLinks">My github links with descriptions</a>
        </li>
    </ol>
</nav>

